@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #cae8ff;
    height:auto;
    font-family: 'Quicksand', sans-serif;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    background-color: rgb(4, 60, 112);
    z-index: 1;
}
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  /* company heading */
  h1.company-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 1.5px;
    margin: 1rem 0;
    margin-left: 1rem;
} 
  .menu ul {
    display: flex;
    list-style: none;
    margin-left: 20px;
  }
  
  .menu ul li {
    margin-left: 5px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    margin-right: 2rem;
  }
  
  .menu ul li a:hover {
    background-color:white;
    color: rgb(4, 60, 112);
    text-decoration:wavy;
    border-radius: 25px;
    padding: 1rem;
  }
  

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}
.leftdiv {
    object-fit: cover;
  } 
  
.rightdiv{
    background-color:rgb(4, 60, 112);
    width: fit-content;
    height: fit-content;
    margin-top: 4rem;
    margin-left: 8rem;
    margin-right: 2rem;
    border-radius: 15px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    /* block-size: fit-content; */
    
}
.rightdiv .rtop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rightdiv .rtop  img{
    width: 10rem;
    height: 10rem;
    margin-top: 1.5rem;
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
    

}
.rightdiv .rbottom{
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    justify-content: center;
}
.rbottomtop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 2rem;
    font-size: medium;
}
.rbottomtop .cleft{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 2rem;
    row-gap: 2rem;
}
 .cleft i{
    margin-right: .5rem;
} 
.rbottomtop .cright{
    display: flex;
    flex-direction: column;
    /* margin-left: 2rem; */
    cursor: pointer;
    row-gap: 2rem;
}
.rbottomtop .cright a{
    text-decoration: none;
    color: white;
}
.rbottomdown{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.rbottomdown button{
    color: rgb(4, 60, 112);
    background-color: white;
    padding: 1rem;
    border-radius: 25px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    box-shadow: inset;
}
.rbottomdown button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 15px;
    right: 20px;
    transition: 0.5s;
  }
  
.rbottomdown button:hover{
    padding-right: 22px;
}
button:hover:after {
    opacity: 1;
    right: 10px;
  }

.footer{
    margin-top: 2rem;
    background-color:rgb(4, 60, 112);
    height: fit-content;
    width: 100%;
    height: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    gap: 5px;
}
.footer p{
    letter-spacing: 2px;
    font-size:1rem;
    font-weight: bold;


}

/* About page style */


.aboutmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(4, 60, 112);
    padding: 2rem;
  }
  
  .aboutmain .ableft {
    flex: 0 0 45%;
    max-width: 45%;
    margin-bottom: 1rem;
  }
  
  .aboutmain .ableft img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    border: 4px solid white;
  }
  
  .aboutmain .abright {
    flex: 0 0 45%;
    color: white;
    padding: 1rem;
    font-size: 1.3rem;
    font-family: 'Dancing Script', cursive;
  }

/* products page style */

#products {
    background-color: rgb(4, 60, 112);
  }
  
  .promain {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  
  .items {
    flex: 0 0 25%;
    padding: 2rem;
    margin-right: 4rem;
  }
  
  .items li {
    font-size: large;
    padding: 1rem;
    list-style: none;
    color: white;
    cursor: pointer;
  }
  
  .items li:hover {
    margin-left: 2rem;
  }
  
  .promain .rightimages {
    flex: 0 0 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    margin-top: 4rem;
  }
  
  .promain .rightimages img {
    width: 12rem;
    height: 12rem;
    transition: transform 0.2s; 
    cursor: pointer;
  }
  
  .rightimages img:hover {
    border-radius: 20px;
    border: 3px solid white;
    width: 12rem;
    height: 12rem;
    transform: scale(1.5); 
  }

  /* to make website responsive */


@media (max-width: 767px) {
    .menu,.footer {
        width: 100%; 
      }
    .content {
      flex-direction: column;
      justify-content: center;
        align-items: center;
        object-fit: cover;
    }
    .rightdiv{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .aboutmain{
        display: flex;
        flex-direction: column;
    }
    .aboutmain .ableft, .aboutmain .abright {
        flex: 0 0 100%;
        max-width: 100%;
      }
      
      .aboutmain .ableft img {
        margin: 0;
        border-radius: 10px;
        border: 2px solid white;
      }
      
      .aboutmain .abright {
        font-size: 1rem;
        padding: 0.5rem;
      }
    }
  @media (min-width: 768px) and (max-width: 991px) {
  
      .menu,.footer {
        width: 100%; 
      }
   
    .rightdiv{
        
        margin-left: 2rem;
        /* margin-right: 2rem; */
    }
  }
  
  /* CSS for screens larger than 992px */
  @media (min-width: 992px) {
    
      .menu,.footer {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      }
    .rightdiv{
        margin-left: 2rem;
    }
  }
  @media (max-width: 600px) {
    p {
        font-size: 14px;
    }
    h2 {
      font-size: 1.5rem;
    }
}

/* iPhone XR specific styles- since this is the phone that i use. */
@media screen and (max-width: 375px) {
  .logo p {
      font-size: 1rem;
  }

  .menu ul li {
      margin-left: 0.5rem;
  }

  .rbottomdown button {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
  }
}
#myVideo {
  max-width: 100%;
  height: auto;
}
img {
  max-width: 100%;
  height: auto;
}
#myVideo {
  max-width: 100%;
  height: auto;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
